# configuration for pytest-cov primarily on GitHub runners (hence the paths)
[paths]
src =
   src
   */{{ cookiecutter.package_name }}/{{ cookiecutter.package_name }}/src
tests =
   tests
   */{{ cookiecutter.package_name }}/{{ cookiecutter.package_name }}/tests

[run]
branch = true
source =
    src/{{ cookiecutter.package_name }}
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
